.bio-p
{
    font-family: 'Open Sans', sans-serif;
}

.brand
{
    font-family: 'Benguiat Bold', 'MS Gothic', 'Franklin Gothic';
}

.pill-btn
{
    margin-right: 2%;
}

.header-bold
{
    font-family: 'Deutsch Gothic';
}

.dos-menu
{
    font-family: 'Perfect DOS VGA';
}

.financial-content::after
{
    background-image: url('Photos/lamborghini-countach-hd-wallpaper.jpg');    
}

.financial-table
{
    background-color: rgba(255,255,255,0.6);
}