
@{
    ViewBag.Title = "Benjamin's Education";
}

<div class="jumbotron">
    <div class="container">
        <img src="/Content/Photos/SNHU.jpg" class="img-rounded" id="educationImg" />
        <br />
        <h2>Education</h2>
    </div>
</div>
<div class="container-fluid">
    <!-- Row of columns -->
    <div class="row">
        <div class="col-sm-5 col-md-5">
        </div>
        <div class="col-sm-2 col-md-2">
                <img src="/Content/Photos/seal.jpg" class="img-fluid mx-auto d-block" />
        </div>
        <div class="col-sm-5 col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br />
            <table class="table-bordered" id="schoolOne">
                <tr style="background-color: gray;">
                    <th>School Name</th>
                    <th>GPA</th>
                    <th>Status</th>
                    <th>Graduation Date</th>
                </tr>
                <tr>
                    <td>Hopkinton High School</td>
                    <td>2.31</td>
                    <td><span class="badge badge-success">Graduated</span></td>
                    <td>June 1998</td>
                </tr>
            </table>
            <br />
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-5">
        </div>
        <div class="col-xs-6 col-md-2">
            <br />
            <img src="/Content/Photos/SNHUlogo.png" class="img-fluid mx-auto d-block" />
            <br />
        </div>
        <div class="col-xs-3 col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br />
            <table class="table-bordered" id="schoolTwo">
                <tr>
                    <td>Southern New Hampshire University</td>
                    <td>3.304</td>
                    <td><span class="badge badge-info">In Progress</span></td>
                    <td>Expected<br />September 2018</td>
                </tr>
                <tr style="background-color: gray;">
                    <th>Class Name</th>
                    <th>Grade</th>
                    <th>Skills Covered</th>
                    <th>Status</th>
                </tr>
                <tr class="table-bordered">
                    <td>Foundations in Application Development</td>
                    <td>A</td>
                    <td>Java, Object Oriented Programming</td>
                    <td><span class="badge badge-success">Complete</span></td>
                </tr>
                <tr class="table-bordered">
                    <td>Web Site Design</td>
                    <td>A</td>
                    <td>HTML, CSS, JavaScript, Front-End Web Design</td>
                    <td><span class="badge badge-success">Complete</span></td>
                </tr>
                <tr class="table-bordered">
                    <td>Software Development with C# .NET</td>
                    <td>A</td>
                    <td>Development using C# and the .NET framework</td>
                    <td><span class="badge badge-success">Complete</span></td>
                </tr>
            </table>
            <br />
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-5">
        </div>
        <div class="col-xs-6 col-md-2">
            <br />
            <img src="/Content/Photos/Harvard_Logo.png" class="img-fluid mx-auto d-block" />
            <br />
        </div>
        <div class="col-xs-3 col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table class="table-bordered" id="schoolThree">
                <tr>
                    <td>CS50</td>
                    <td>100%</td>
                    <td>C, HTML, CSS, PHP, JavaScript, Objective-C</td>
                    <td>
                        <span class="badge badge-success">
                            Certified<a href="https://courses.edx.org/certificates/add60d7d72054a0db7809343d5a6d28a"
                            target="_blank"><i class="fa fa-search"></i></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>