
@{
    ViewBag.Title = "Benjamin's Skills";
}

<div class="jumbotron">
    <div class="container">
        <img src="~/Content/Photos/wargames.jpg" class="img-rounded" id="skillsImg" />
        <br />
        <h2 id="skillsHeading">Skills</h2>
    </div>
</div>
<div class="container-fluid">
    <!-- Row of columns -->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table id="skillsTable" align="center">
                <tr>
                    <th colspan="4"><b>Languages</b></th>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.w3schools.com/html/default.asp" target="_blank">
                            <img src="~/Content/Photos/HTML5.png" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/css/default.asp" target="_blank">
                            <img src="~/Content/Photos/CSS3.png" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/js/default.asp" target="_blank">
                            <img src="~/Content/Photos/JS.png" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/php/default.asp" target="_blank">
                            <img src="~/Content/Photos/php.gif" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://jquery.com" target="_blank">
                            <img src="~/Content/Photos/jQuery.gif" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/sql/" target="_blank">
                            <img src="~/Content/Photos/SQL.png" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="http://computer.howstuffworks.com/c.htm" target="_blank">
                            <img src="~/Content/Photos/C.png" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="https://msdn.microsoft.com/en-us/library/z1zx9t92.aspx" target="_blank">
                            <img src="~/Content/Photos/Csharp.jpg" class="skill btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <th colspan="4"><b>Microsoft Exams Passed:</b></th>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.youracclaim.com/badges/edb55e83-bb2e-472a-9d2b-93b3506a430a/public_url" target="_blank">
                            <img src="~/Content/Photos/MSBadges/exam-487.png" class="img-fluid btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.youracclaim.com/badges/4d319f5c-3a91-44ac-85fb-6788da111018/public_url" target="_blank">
                            <img src="~/Content/Photos/MSBadges/exam-761.png" class="img-fluid btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.youracclaim.com/badges/919293bd-820f-4527-ae8b-a338cd922f59/public_url" target="_blank">
                            <img src="~/Content/Photos/MSBadges/exam-762.png" class="img-fluid btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                    <td>
                        <a href="https://www.youracclaim.com/badges/fcdbb293-897b-4ff4-99e5-c3f85b39beab/public_url" target="_blank">
                            <img src="~/Content/Photos/MSBadges/exam-473.png" class="img-fluid btn btn-outline-success" style="display:inline" />
                        </a>
                    </td>
                </tr>
                <tr class="container">
                    <td>
                        <a href="https://www.youracclaim.com/badges/df535534-6e61-410c-871a-41a7ace3b042/public_url" target="_blank">
                            <img src="~/Content/Photos/MSBadges/exam-480.png" class="img-fluid btn btn-outline-success" style="display:inline;" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row" id="ordered">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2 id="additionalSkills">Additional Skills:</h2>
            <ol>
                <li>Problem Solving</li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started"
                       target="_blank">AJAX</a>
                </li>
                <li>Self Sufficient Learner</li>
                <li>Quick to acclimate and adapt</li>
                <li>Neatness of code</li>
                <li>Resource Management</li>
                <li>Object oriented design</li>
                <li>Unit Testing</li>
                <li>Debugging</li>
            </ol>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<footer>
    <br />
    <br />
    <audio controls autoplay>
        <source src="~/Content/Audio/Silvermoon-City.mp3" type="audio/mpeg" />
        Your browser does not support audio
    </audio>
</footer>
